name: nuxt-generate

on:
  repository_dispatch:
    types: [nuxt-generate]
  push:
  pull_request:
jobs:
  cd: # Continuous Delivery
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [14]

    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Setup node env
        uses: actions/setup-node@v2.1.2
        with:
          node-version: ${{ matrix.node }}

      - name: Install dependencies
        run: yarn

      - name: Generate
        run: yarn generate
        env:
          microCMS_api_key: ${{ secrets.MICROCMS_API_KEY }}
          microCMS_url: ${{ MICROCMS_URL }}

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
